body {
  background-image: url("harmaatausta.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 100px;
  float:center;
}

h2 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 50px;
  float:center;
}

h3 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 70px;
  float:center;
}

h4 {
  color: black;
  text-align: left;
  font-family: verdana;
  font-size: 60px;
  float:center;
}

.tekstiboksi {
  max-width: max-content;
  background-color: #9797978e;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.omaLogo {
  float: left;
  height: auto;
  width: 400px;
  margin: 20px;
}

img {
  border-radius: 20px;        /*Antaa kuville vähemmän terävät kulmat*/
}

.kuva-kontti {
  display: flex;        /* Asettaa kuvat vierekkäin */
  gap: 4%;  
}
  
.kuva-kontti img {
  width: 44%;
  height: auto;       /* Säilyttää mittasuhteet */
  margin: 2%;
}

.kuvankuvaus {
  margin-left: 50px;
  margin-right: 50px;
  font-size: xx-large;
}

.kysymys-kontti {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
}

.kysymys-formi {
  width: 100%;
  max-width: 400px;        
}

.eskontti {
  width: 30%;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: #979797;
  padding: 10px;
}

.footer-small {
  position:fixed;       /*Saa Yhteystiedot-sivun footerin näkymään sivun alareunassa*/
  bottom: 0px;
}
